*{
    box-sizing: border-box;
}
/* colore generela sfondo */
body{
    background-color: #F6F8F9; 
}
/* colore generale sfondo */

/* inizio style header  */
.header-container{
    background-color: white;
}
.logo{
    vertical-align: middle;
    padding-left: 10px;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}
/* fine style header */

/* Inzio style main  */
.container{
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 50px;
}
/* fine style main  */

/* inzio style button  */
.button-con{
    border-bottom: 2px solid lightgray;
    padding: 10px 0px 10px 60px;
}
.style-button{
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 0 10px;
}

.grey{
    background-color: white;
    color:  #C8CED3;
    border: 1px solid  #C8CED3;
}
/* fine style button  */

/* container generale to-do list  */
.to-contain{
    padding: 20px 0px 0px 60px;
    margin-bottom: 10px;
}
/* /container generale to-do list  */

/* inzio style to-do list  */
h2{
    margin: 0;
    padding: 0;
}
h2::before{
    content: '\25BC';
    margin-right: 10px;
}
.tag-cont{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    vertical-align: middle;
}
.text-cont{
    margin: 10px 0px 20px;
}
.text{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* inzio spunte di done e undone  */
.done::before{
    content: '\2714';
    display: inline-block;
    color: lightgreen;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: 2px solid lightgreen;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
.undone::before{
    content: '\2716';
    display: inline-block;
    color: red;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}
/* fine spunte di done e undone  */

/* inzio colori tag  */
.tag-text{
    color: white;
}
.blue{
    background-color: #47ADF1;
}
.violet{
    background-color: #9C72E4;
}
.green{
    background-color: #65C1AA;
}
.orange{
    background-color: #F29E33;
}
.purple{
    background-color: #D863A1;
}
.yellow{
    background-color: #B0C926;
}
/* fine colori tag  */